.warpper {
    margin-left: 450px;
}

.animatable {
    visibility: hidden;
    animation-play-state: paused;
}

/*화면에 표출된 후*/
.animated {
    animation-name: fadeInUp;
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-play-state: running;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}