 .p-3 {
        background-color: #1BBC98 !important;
    }
    .nav li{
        font-size: 15px;
        font-weight: 100;        
    }
    div#foot{
        width:100%;        
        position : absolute;
        left: 0;
        bottom : 0;
    }
    .ratio-16x9{        
        margin-left: 100px;
    }
    .container0{
        margin-left:100px;
    }
    .container1{              
        position: absolute;
        background-color: #c5faee !important;
        max-width: 800px;
        max-height: 300px;
        font-size: 20px;        
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        display:inline-block;        
    }
    .container2{
        margin-top: 350px;
        position: absolute;
        background-color: #c5faee !important;
        width: 800px;
        max-height: 300px;
        font-size: 20px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        display:inline-block;
    }
    .container3{
        margin-top: 700px;
        position: absolute;
        background-color: #c5faee !important;
        width: 800px;
        max-height: 300px;
        font-size: 20px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        display:inline-block;
    }
    .mb-1{
      width:700px;
      padding:0 5px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }
    .content_hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    /*7줄이상 넘어가면 ...나오기*/
    display: -webkit-box;
    -webkit-line-clamp: 7; 
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 8.4em; 
    }
    .more_button{
        appearance: none;
        border: 1px solid #1BBC98;
        padding: 0.5em;
        border-radius: 0.25em;
        cursor: pointer;
        margin: 1rem;
       
    }
    .more_button::before{
        content:'더보기';
       
    }
    .cmore_button:checked::before{
        content:'닫기';
       
    }
    .content_hidden:has(+ .more_button:checked){
        -webkit-line-clamp:unset
    }
